/* Headerr 3 sect css */
/* section {
  overflow: hidden;
} */
.section_susses {
  overflow: initial;
}
.Svg_Star {
  width: 107.52px;
  height: 26.52px;
}
.Svg_Star2 {
  width: 179.6px;
  height: 33.67px;
}
.box_pos {
  position: absolute;
  width: 228px;
  height: 119px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  bottom: 20px;
  left: 26px;
}
.hover_header_links:hover::after {
  width: 100%;
  left: 0;
}
.w_glob {
  width: 24px;
  height: 24px;
}
.btn_nav {
  box-shadow: 0px 4px 20px rgba(96, 34, 234, 0.2) !important;
  border-radius: 80px !important;
  padding: 10px 24px 10px 24px !important;
  display: inline-block !important;
}
.btn_get {
  box-shadow: 0px 4px 20px rgba(96, 34, 234, 0.2) !important;
  border-radius: 80px !important;
  padding: 12px 24px 12px 24px !important;
  display: inline-block !important;
  font-size: 16px;
  z-index: 123 !important;
  position: relative;
}
.btn_video {
  border-radius: 80px !important;
  padding: 10px 24px 10px 24px !important;
  display: inline-block !important;
  /* margin-top: -7px; */
  transition: all 300ms ease-in-out !important;
  z-index: 123 !important;
  position: relative;
}
.btn_video .btnvid {
  width: 28px;
  height: 28px;
}
.btn_video:hover {
  box-shadow: 0px 4px 20px rgba(96, 34, 234) !important;
  display: inline-block !important;
  background-color: #6022ea;
  color: #fff;
}

.btn_nav:hover {
  box-shadow: 0px 4px 20px rgba(96, 34, 234, 0.9) !important;
  color: rgb(150, 148, 148) !important;
}
.btn_get:hover {
  box-shadow: 0px 4px 20px rgba(96, 34, 234, 0.9) !important;
  color: rgb(213, 210, 210) !important;
}
/* Header */
.bg_grident_layter {
  left: -0;
  bottom: 0;
  /* z-index: 0; */
  width: 187.13px;
  height: 187.13px;
}
.img_grident {
  top: 0%;
  right: 0%;
  transform: translate(60%, -40%);

  z-index: -1;
}
.img_grident2 {
  bottom: 0%;
  left: 0%;
  transform: translate(-40%, 40%);
  z-index: -1;
}
.overflow_x_hidden {
  overflow: hidden;
}
.line_after_header::after {
  content: "";
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 85%;
  background-color: #6022ea;
  position: absolute;
}
.image_header {
  width: 100%;
}
/* TellUs */
.bg_tellUs {
  background-color: #0d0d0d;
  z-index: 1;
}
.bg_tellUs input {
  border: none !important;
  outline: none;
  width: 100%;
  height: 64px;
  background: rgba(255, 255, 255, 0.1);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

.bg_tellUs label:focus-visible {
  border: 0 !important;
}
label .SearchIcon {
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
}
.hover_rotate:hover {
  transform: rotate(180deg);
}
/* LOGOS YAHOO */
.w_xl_75 {
  width: 100%;
}
.bg_Featured {
  background-color: #f6f6f6;
}
.Yahoo_news {
  width: 100%;
}
.FinensYahoo {
  width: 100%;
}
.Trandinglogo {
  width: 100%;
}
.bg_laye_img {
  left: -23%;
  bottom: -16%;
  width: 50%;
  z-index: 1;
}
.bg_laye_img2 {
  left: 72%;
  bottom: -55%;
  width: 50%;
  z-index: 1;
}
.parantbg_layer {
  z-index: 12 !important;
  position: relative;
}
/* Done By PK JahJriya */
.btn_hover:hover {
  background-color: white;
  border: 2px solid #6022ea !important;
  color: #6022ea !important;
}
.border_transperent {
  border: 2px solid transparent;
}
.success_btn {
  border: 2px solid #6022ea;
  color: #6022ea !important;
}
.success_btn:hover {
  border: 2px solid transparent;
  background-color: #6022ea;
  color: white !important;
}
.transform_translet_y {
  transform: translateY(25%);
}
.success_box {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: 12.1143px 48.4571px 60.5714px rgba(229, 233, 246, 0.4);
  border-radius: 16px;
}
.success_box:hover {
  border: 1px solid transparent;
  background: #ffffff;
  box-shadow: 0px 20px 60.5714px #e5e9f6;
  border-radius: 16px;
}
.have_box {
  background: linear-gradient(91.39deg, #5f21e9 60.06%, #fa00ff 103.73%);
  box-shadow: 0px 20px 50px rgba(39, 0, 124, 0.5);
  border-radius: 17px;
  transform: translateY(50%);
}
.check_btn_hover:hover {
  background: transparent !important;
  color: white !important;
  border: 2px solid white !important;
  /* box-shadow: 0px 20px 50px rgba(39, 0, 124, 0.5); */
}
.border_none {
  border: none;
}
.outline_none {
  outline: none;
}
.line_after:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 14px;
  right: 1%;
  top: 15%;
  color: white !important;
  background-color: white;
}
.border_top {
  border-top: 1px solid #4c4c4c;
}
.icon_hover:hover {
  transform: translateY(-10%) scale(1.08);
}
footer input {
  color: #6f6f6f !important;
  font-weight: 400;
  font-size: 16px;
}
.links_hover:hover {
  transform: translateX(8px);
}
.footer_after_hover::after {
  position: absolute;
  content: "";
  height: 0%;
  bottom: 0;
  width: 2px;
  color: white;
  background-color: white;
  transition: all 300ms ease-in-out;
}
.footer_after_hover:hover::after {
  height: 100%;
  top: 0;
}
.text_stroke_link:hover {
  -webkit-text-stroke-color: white;
  color: white;
  -webkit-text-stroke-width: 0.3px;
}
.integer_box {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.integer_box:hover {
  border: 1px solid transparent;
  background: #ffffff;
  box-shadow: 0px 20px 60.5714px #e5e9f6;
  border-radius: 16px;
}
.bg_tellUs ::placeholder {
  font-family: "gilroy" !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: white !important;
  border: 0 !important;
}

@media (max-width: 576px) {
  .Svg_Star {
    width: 64.52px;
    height: 22.52px;
  }
  .Svg_Star2 {
    width: 100.6px;
    height: 18.67px;
  }
  .box_pos {
    position: absolute;
    width: 174px;
    height: 70px;
    bottom: 10px;
    left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  ::placeholder {
    font-size: 12px !important;
  }
  .btn_get {
    padding: 12px 18px 12px 18px !important;
    font-size: 12px;
  }
  .btn_video {
    padding: 8px 18px 8px 18px !important;
    margin-top: 0px;
  }
  .btn_video .btnvid {
    width: 25px;
    height: 25px;
  }
  .bg_laye_img {
    left: -6%;
    bottom: 80%;
    width: 50%;
    z-index: 1;
  }
  .bg_laye_img2 {
    left: 71%;
    bottom: -6%;
    width: 50%;
    z-index: 1;
  }
  .bg_tellUs ::placeholder {
    font-size: 13px !important;
    padding-left: 0px !important;
    padding-right: 0 !important;
  }
  .bg_tellUs input {
    height: 50px;
    padding-left: 20px;
    padding-right: 60px;
  }
  .transform_translet_y {
    transform: translateY(10%);
  }
}
@media (min-width: 576px) {
  .Yahoo_news {
    width: 75%;
  }
  .FinensYahoo {
    width: 75%;
  }
  .Trandinglogo {
    width: 75%;
  }
  .bg_laye_img {
    left: -6%;
    bottom: 74%;
    width: 50%;
    z-index: 1;
  }
  .bg_laye_img2 {
    left: 71%;
    bottom: -14%;
    width: 50%;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  .Svg_Star {
    width: 95.52px;
    height: 22.52px;
  }
  .Svg_Star2 {
    width: 150.6px;
    height: 25.67px;
  }
  .box_pos {
    position: absolute;
    width: 210px;
    height: 110px;
    bottom: 20px;
    left: 26px;
    padding-top: 5px;
    padding-bottom: 4px;
  }
  .bg_laye_img {
    left: -14%;
    bottom: 44%;
    width: 50%;
    z-index: 1;
  }
  .bg_laye_img2 {
    left: 70%;
    bottom: -14%;
    width: 50%;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .Svg_Star {
    width: 95.52px;
    height: 22.52px;
  }
  .Svg_Star2 {
    width: 150.6px;
    height: 25.67px;
  }
  .box_pos {
    position: absolute;
    width: 210px;
    height: 110px;
    bottom: 20px;
    left: 0px;
  }
  .Yahoo_news {
    width: 150px;
    height: 25px;
  }
  .FinensYahoo {
    width: 150px;
    height: 57px;
  }
  .Trandinglogo {
    width: 150px;
    height: 30px;
  }
  .bg_laye_img {
    left: -18%;
    bottom: -23%;
    width: 50%;
    z-index: 1;
  }
  .bg_laye_img2 {
    left: 74%;
    bottom: -70%;
    width: 50%;
    z-index: 1;
  }
  .w_xl_75 {
    width: 75%;
  }
  .btn_nav {
    padding: 8px 10px 8px 10px !important;
  }
  .min_vh_xl_70 {
    min-height: 70vh;
  }
  .image_header {
    width: 567px;
    height: 367px;
  }
}
@media (min-width: 1400px) {
  .box_pos {
    bottom: 20px;
    left: 26px;
  }
  .Yahoo_news {
    width: 171px;
    height: 27px;
  }
  .FinensYahoo {
    width: 171px;
    height: 63px;
  }
  .Trandinglogo {
    width: 171px;
    height: 39px;
  }
  .btn_nav {
    padding: 10px 24px 10px 24px !important;
  }
  .image_header {
    width: 624px;
    height: 400px;
  }
}
@media (min-width: 1600px) {
  .Svg_Star {
    width: 107.52px;
    height: 26.52px;
  }
  .Svg_Star2 {
    width: 179.6px;
    height: 33.67px;
  }
  .box_pos {
    position: absolute;
    width: 228px;
    height: 119px;
    bottom: 20px;
    left: 26px;
  }
}
@media (min-width: 1700px) {
  .image_header {
    width: 760px;
    height: 500px;
  }
}
