@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}
.ff_gilroy {
  font-family: "gilroy";
}
.ff_Konexy {
  font-family: "KonexyPersonal";
}
.ff_Inter {
  font-family: "Inter", sans-serif;
}
@font-face {
  font-family: "gilroy";
  src: url(./assets//fonts/gilroy/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "KonexyPersonal";
  src: url(./assets/fonts//KonexyPersonal/KonexyPersonalUse.otf);
}
:root {
  --fs-xsm: 14px;
  --fs-sm: 12px;
  --fs-md: 18px;
  --fs-2xl: 13px;
  --fs-3xl: 35px;
  --fs-3xxl: 36px;
  --fs-4xl: 40px;
  --fs-4xxl: 21px;
  --fs-7xl: 72px;
  /* fontwaight */
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  /* colors */
  --text-light-grey: #b2b2b2;
  --text-grey: #868687;
  --text-purpel: #6022ea;
  --text-light-black: #0d0d0d;
  --text-dark-gray: #4c4c4c;
  --text-dark-black: #313131;
  --bg-light-gray: #f6f6f6;
  /* bg */
  --bg-purpel: #6022ea;
  /* lh */
  --lh-2xl: 24px;
  /* pY */
  --py-10: 10px;
}
.hover_header_links:hover {
  color: #b2b2b2 !important;
}
.hover_header_links::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #6022ea;
  right: 0;
  bottom: -1px;
  transition: all 300ms ease-in-out;
}
/* py */
.py_10 {
  padding-top: var(--py-10);
  padding-bottom: var(--py-10);
}
/*  */
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_3xxl {
  font-size: var(--fs-3xxl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_4xxl {
  font-size: var(--fs-4xxl);
}
.fs_7xl {
  font-size: var(--fs-7xl);
}
/* fw */
.fw_regular {
  font-weight: var(--fw-regular);
}
.fw_semibold {
  font-weight: var(--fw-semi-bold);
}
.fw_bold {
  font-weight: var(--fw-bold);
}
.fw_extrabold {
  font-weight: var(--fw-extrabold);
}
/* color */
.text_darkGray {
  color: var(--text-dark-gray);
}
.text_dark_black {
  color: var(--text-dark-black);
}
/* bg-color */
.bg_light_gray {
  background-color: var(--bg-light-gray);
}
.text_lightGray {
  color: var(--text-light-grey);
}
.text_lightBlack {
  color: var(--text-light-black);
}
.text_Gray {
  color: var(--text-grey);
}
.text_purpel {
  color: var(--text-purpel);
}
/* bg */
.bg_purpel {
  background-color: var(--bg-purpel);
}
/* lh */
.lh_2xl {
  line-height: var(--lh-2xl);
}
.z_index2 {
  z-index: 2;
}
.z_index0 {
  z-index: 0;
}
.z_index {
  position: static;
  z-index: 3 !important;
}
.z_index_123 {
  z-index: 123 !important;
}

.z_index1 {
  position: relative !important;
  z-index: 1 !important;
}
.z_index_1 {
  z-index: -1;
}
.menu_formatting {
  display: grid;
  background: transparent;
  margin: 0;
  padding: 0;
}
.search_icon {
  background: #212121;
  border: 1px solid #565656;
  border-radius: 20px;
}
label {
  display: flex;
  flex-direction: column;
  width: 50px;
  cursor: pointer;
  z-index: 1234 !important;
  position: relative;
}
label span {
  background: rgb(252, 250, 250);
  border-radius: 10px;
  height: 5px;
  margin: 4px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.menu[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(11px, 1px);
}
.menu[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg) translate(10px, 0px);
  margin-top: 7px;
  margin-bottom: 7px;
}
.menu[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 100%;
  opacity: 0;
  transform: translate(0px, -31px) rotatez(0deg);
}
.menu {
  display: none;
}
ul li a:hover {
  -webkit-text-stroke: 1px white;
  color: white !important;
}

.text_strock_hover:hover {
  -webkit-text-stroke: 1px white;
  color: white !important;
}
.cursor_pointer {
  cursor: pointer !important;
}
.nav-fix {
  /* min-width: 100vh;/ */
  height: 100vh;
  top: 0px;
  left: 0;
  width: 100%;
  position: absolute;
  background: linear-gradient(#12153a, #3b0654);
  display: flex;
  z-index: 124;
  align-items: center !important;
  justify-content: center !important;
  opacity: 100% !important;
  transition: all 500ms ease-in-out !important;
}
.fix-navbar {
  /* min-width: 100vh;/ */
  height: 100vh;
  top: 0px;
  left: -250%;
  width: 100%;
  position: absolute;
  background: linear-gradient(#12153a, #3b0654);
  z-index: 124;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  opacity: 100% !important;
  transition: all 500ms ease-in-out !important;
}

/* Dropedown Edit */
.navBar .btn-success {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: transparent !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-hover-border-color: transparent !important;
  --bs-btn-focus-shadow-rgb: none !important;
  --bs-btn-active-color: transparent !important;
  --bs-btn-active-bg: transparent !important;
  --bs-btn-active-border-color: transparent !important;
  --bs-btn-active-shadow: none !important;
  --bs-btn-disabled-color: transparent !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: transparent !important;
  transition: all 300ms ease-in-out !important;
}
.navBar .btn-success:hover {
  -webkit-text-stroke: 1px white !important;
}
.navBar .btn.show,
.navBar .btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: white !important;
  background-color: #6022ea !important;
  border-color: var(--bs-btn-active-border-color);
}
.navBar .dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: white !important;
  --bs-dropdown-bg: #6122ead5 !important;
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: 0.375rem;
  --bs-dropdown-border-width: 1px;
  --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-dropdown-link-color: #fff !important;
  --bs-dropdown-link-hover-color: #1e2125;
  --bs-dropdown-link-hover-bg: #6122ea !important;
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: #ffff !important;
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #ffff !important;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: white !important;
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  -webkit-text-stroke: 1px white !important;
  border: var(--bs-dropdown-border-width) solid rgb(76, 0, 239) !important;
  border-radius: var(--bs-dropdown-border-radius);
}
.navBar .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  position: relative !important;
  top: 4px !important;
  vertical-align: 0.255em;
  content: url(../src//assets/img/svg/DropDownToggle.svg) !important;
  border-top: 0em solid !important;
  border-right: 0em solid transparent !important;
  border-bottom: 0;
  border-left: 0em solid transparent !important;
}
/* btns */

@media (max-width: 576px) {
  :root {
    --fs-xsm: 12px;
    --fs-sm: 12px;
    --fs-md: 18px;
    --fs-2xl: 20px;
    --fs-3xl: 24px;
    --fs-3xxl: 32px;
    --fs-4xl: 25px;
    --fs-4xxl: 20px;
    --fs-7xl: 34px;
  }
  .have_box {
    transform: translateY(30%) !important;
  }
}
@media (min-width: 576px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 14px;
    --fs-md: 18px;
    --fs-2xl: 21px;
    --fs-3xl: 35px;
    --fs-3xxl: 36px;
    --fs-4xl: 32px;
    --fs-4xxl: 36px;
    --fs-7xl: 40px;
  }
}
@media (min-width: 768px) {
  :root {
    --fs-sm: 12px;
    --fs-md: 18px;
    --fs-2xl: 15px;
    --fs-3xl: 35px;
    --fs-3xxl: 36px;
    --fs-4xl: 35px;
    --fs-4xxl: 26px;
    --fs-7xl: 48px;
  }
}

@media (min-width: 992px) {
  .nav-fix {
    height: 30vh;
    top: 0px;
    left: 0%;
    width: 100%;
    position: absolute;
    background: linear-gradient(#12153a, #3b0654);
    display: flex;
    z-index: 124;
    align-items: center !important;
    justify-content: center !important;
    opacity: 100% !important;
    transition: all 500ms ease-in-out !important;
  }
  .fix-navbar {
    /* min-width: 100vh;/ */
    height: 100vh;
    top: -100%;
    left: 0%;
    width: 100%;
    position: absolute;
    background: linear-gradient(#12153a, #3b0654);
    z-index: 124;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    opacity: 100% !important;
    transition: all 500ms ease-in-out !important;
  }

  :root {
    --fs-xsm: 14px;
    --fs-sm: 13px;
    --fs-md: 18px;
    --fs-2xl: 21px;
    --fs-3xl: 35px;
    --fs-3xxl: 36px;
    --fs-4xl: 38px;
    --fs-4xxl: 35px;
    --fs-7xl: 31px;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 13px;
    --fs-md: 13px;
    --fs-2xl: 24px;
    --fs-3xl: 26px;
    --fs-3xxl: 36px;
    --fs-4xl: 40px;
    --fs-4xxl: 44px;
    --fs-7xl: 48px;
  }
}
@media (min-width: 1400px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 16px;
    --fs-2xl: 24px;
    --fs-3xl: 35px;
    --fs-3xxl: 36px;
    --fs-4xl: 40px;
    --fs-4xxl: 48px;
    --fs-7xl: 60px;
  }
}
/* Lo0ader */

.bg_preloader {
  background: linear-gradient(97deg, #4fb5ff 13.59%, #f72bee 103.18%);
  transition: all ease-in-out 400ms;
  padding: 100px;
  z-index: 129;
}
.Dot {
  height: 5px;
  width: 5px;
  background: #ffffff;
  border-radius: 50%;
}
.overlay_preloader {
  background: #00000088;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.Dot1 {
  animation: dot1 1s ease-in-out 0.1s infinite alternate;
}
@keyframes dot1 {
  0% {
    transform: scale(1);
    background: #ffffff;
  }
  100% {
    transform: scale(0);
    background: #000000;
  }
}
.Dot2 {
  animation: dot2 1.01s ease-in-out 0.1s infinite alternate;
}
@keyframes dot2 {
  0% {
    transform: scale(1);
    background: #ffffff;
  }
  100% {
    transform: scale(0);
    background: #000000;
  }
}
.Dot3 {
  animation: dot3 1.02s ease-in-out 0.3s infinite alternate;
}
@keyframes dot3 {
  0% {
    transform: scale(1);
    background: #ffffff;
  }
  100% {
    transform: scale(0);
    background: #000000;
  }
}
.Dot4 {
  animation: dot4 1.03s ease-in-out 0.4s infinite alternate;
}
@keyframes dot4 {
  0% {
    transform: scale(1);
    background: #ffffff;
  }
  100% {
    transform: scale(0);
    background: #000000;
  }
}
.btn_goto_top_pos {
  right: 10px;
  bottom: 50px !important;
  background-color: transparent;
  border: 0;
}
.img_go_to_top {
  width: 30px;
  height: 30px;
  animation: Gotop 3s ease-in-out 2s infinite alternate;
}
@keyframes Gotop {
  0% {
    top: -20px;
  }
  25% {
    top: -10px;
  }
  50% {
    top: -20px;
  }
  75% {
    top: 0px;
  }
  100% {
    top: -10px;
  }
}
