@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}
.ff_gilroy {
  font-family: "gilroy";
}
.ff_Konexy {
  font-family: "KonexyPersonal";
}
.ff_Inter {
  font-family: "Inter", sans-serif;
}
@font-face {
  font-family: "gilroy";
  src: url(./assets//fonts/gilroy/Gilroy-Regular.ttf);
  /* src: url(./assets//fonts/gilroy/Gilroy-SemiBold.ttf);
  src: url(./assets//fonts/gilroy/Gilroy-Bold.ttf); */
}
@font-face {
  font-family: "KonexyPersonal";
  src: url(./assets/fonts//KonexyPersonal/KonexyPersonalUse.otf);
}
:root {
  --fs-xsm: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-2xl: 24px;
  --fs-3xl: 35px;
  --fs-3xxl: 36px;
  --fs-4xl: 27px;
  --fs-4xxl: 48px;
  --fs-7xl: 72px;
  /* fontwaight */
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  /* colors */
  --text-light-grey: #b2b2b2;
  --text-grey: #868687;
  --text-purpel: #6022ea;
  --text-light-black: #0d0d0d;
  /* bg */
  --bg-purpel: #6022ea;
  /* lh */
  --lh-2xl: 24px;
}
.hover_header_links:hover {
  color: #b2b2b2 !important;
}
.hover_header_links::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #6022ea;
  right: 0;
  bottom: -1px;
  transition: all 300ms ease-in-out;
}
.hover_header_links:hover::after {
  width: 100%;
  left: 0;
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_3xxl {
  font-size: var(--fs-3xxl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_4xxl {
  font-size: var(--fs-4xxl);
}
.fs_7xl {
  font-size: var(--fs-7xl);
}
/* fw */
.fw_regular {
  font-weight: var(--fw-regular);
}
.fw_semibold {
  font-weight: var(--fw-semi-bold);
}
.fw_bold {
  font-weight: var(--fw-bold);
}
.fw_extrabold {
  font-weight: var(--fw-extrabold);
}
/* color */
.text_lightGray {
  color: var(--text-light-grey);
}
.text_lightBlack {
  color: var(--text-light-black);
}
.text_Gray {
  color: var(--text-grey);
}
.text_purpel {
  color: var(--text-purpel);
}
/* bg */
.bg_purpel {
  background-color: var(--bg-purpel);
}
/* lh */
.lh_2xl {
  line-height: var(--lh-2xl);
}
/* Navbar */ /* nav-bar */
.z_index2 {
  z-index: 2;
}
.z_index0 {
  z-index: 0;
}
.z_index {
  position: static;
  z-index: 3 !important;
}
.z_index_123 {
  z-index: 123 !important;
}

.z_index1 {
  position: relative !important;
  z-index: 1 !important;
}
.z_index_1 {
  z-index: -1;
}
.menu_formatting {
  display: grid;
  background: transparent;
  margin: 0;
  padding: 0;
}
.search_icon {
  background: #212121;
  border: 1px solid #565656;
  border-radius: 20px;
}
label {
  display: flex;
  flex-direction: column;
  width: 50px;
  cursor: pointer;
  z-index: 1234 !important;
  position: relative;
}
label span {
  background: rgb(252, 250, 250);
  border-radius: 10px;
  height: 5px;
  margin: 4px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.menu[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(11px, 1px);
}
.menu[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg) translate(10px, 0px);
  margin-top: 7px;
  margin-bottom: 7px;
}
.menu[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 0%;
  transform: translate(0px, -31px) rotatez(0deg);
}
.menu {
  display: none;
}
ul li a:hover {
  -webkit-text-stroke: 1px white;
  color: white !important;
}

.text_strock_hover:hover {
  -webkit-text-stroke: 1px white;
  color: white !important;
}
.cursor_pointer {
  cursor: help !important;
}
.nav-fix {
  /* min-width: 100vh;/ */
  height: 100vh;
  top: 0px;
  left: 0;
  width: 100%;
  position: absolute;
  background: linear-gradient(#12153a, #3b0654);
  z-index: 1;
  display: flex;
  z-index: 124;
  align-items: center !important;
  justify-content: center !important;
  opacity: 100% !important;
  transition: all 500ms ease-in-out !important;
}
.fix-navbar {
  /* min-width: 100vh;/ */
  height: 100vh;
  top: 0px;
  left: -250%;
  width: 100%;
  position: absolute;
  background: linear-gradient(#12153a, #3b0654);
  z-index: 124;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  opacity: 100% !important;
  transition: all 500ms ease-in-out !important;
}

/* Dropedown Edit */
.btn-success {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: transparent !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-hover-border-color: transparent !important;
  --bs-btn-focus-shadow-rgb: none !important;
  --bs-btn-active-color: transparent !important;
  --bs-btn-active-bg: transparent !important;
  --bs-btn-active-border-color: transparent !important;
  --bs-btn-active-shadow: none !important;
  --bs-btn-disabled-color: transparent !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: transparent !important;
  transition: all 300ms ease-in-out !important;
}
.btn-success:hover {
  -webkit-text-stroke: 1px white !important;
}
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: white !important;
  background-color: #6022ea !important;
  border-color: var(--bs-btn-active-border-color);
}
.dropdown-menu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 10rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: white !important;
  --bs-dropdown-bg: #6122ead5 !important;
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: 0.375rem;
  --bs-dropdown-border-width: 1px;
  --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-dropdown-link-color: #fff !important;
  --bs-dropdown-link-hover-color: #1e2125;
  --bs-dropdown-link-hover-bg: #6122ea !important;
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: #ffff !important;
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #ffff !important;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: white !important;
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  -webkit-text-stroke: 1px white !important;
  border: var(--bs-dropdown-border-width) solid rgb(76, 0, 239) !important;
  border-radius: var(--bs-dropdown-border-radius);
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  position: relative !important;
  top: 4px !important;
  vertical-align: 0.255em;
  content: url(../src//assets/img/svg/DropDownToggle.svg) !important;
  border-top: 0em solid !important;
  border-right: 0em solid transparent !important;
  border-bottom: 0;
  border-left: 0em solid transparent !important;
}
/* btns */
.w_glob {
  width: 24px;
  height: 24px;
}
.btn_nav {
  box-shadow: 0px 4px 20px rgba(96, 34, 234, 0.2) !important;
  border-radius: 80px !important;
  padding: 10px 24px 10px 24px !important;
  display: inline-block !important;
}
.btn_get {
  box-shadow: 0px 4px 20px rgba(96, 34, 234, 0.2) !important;
  border-radius: 80px !important;
  padding: 12px 24px 12px 24px !important;
  display: inline-block !important;
  font-size: 16px;
}
.btn_video {
  border-radius: 80px !important;
  padding: 10px 24px 10px 24px !important;
  display: inline-block !important;
  margin-top: -7px;
  transition: all 300ms ease-in-out !important;
}
.btn_video .btnvid {
  width: 32px;
  height: 32px;
}
.btn_video:hover {
  box-shadow: 0px 4px 20px rgba(96, 34, 234) !important;
  display: inline-block !important;
  background-color: #6022ea;
  color: #fff;
}

.btn_nav:hover {
  box-shadow: 0px 4px 20px rgba(96, 34, 234, 0.9) !important;
  color: rgb(150, 148, 148) !important;
}
.btn_get:hover {
  box-shadow: 0px 4px 20px rgba(96, 34, 234, 0.9) !important;
  color: rgb(213, 210, 210) !important;
}
/* Header */
.bg_grident_layter {
  left: -0;
  bottom: 0;
  /* z-index: 0; */
  width: 187.13px;
  height: 187.13px;
}
.img_grident {
  top: 0%;
  right: 0%;
  transform: translate(60%, -40%);

  z-index: -1;
}
.img_grident2 {
  bottom: 0%;
  left: 0%;
  transform: translate(-40%, 40%);
  z-index: -1;
}
.overflow_x_hidden {
  overflow: hidden;
}
.line_after::after {
  content: "";
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 85%;
  background-color: #6022ea;
  position: absolute;
}
.image_header {
  width: 100%;
}
/* TellUs */
.bg_tellUs {
  background-color: #0d0d0d;
  z-index: 1;
}
input {
  border: 0;
  width: 100%;
  height: 64px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}
::placeholder {
  font-family: "gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
label:focus-visible {
  border: 0 !important;
}
label .SearchIcon {
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
}
.hover_rotate:hover {
  transform: rotate(180deg);
}
/* LOGOS YAHOO */
.w_xl_75 {
  width: 100%;
}
.bg_Featured {
  background-color: #f6f6f6;
}
.Yahoo_news {
  width: 100%;
}
.FinensYahoo {
  width: 100%;
}
.Trandinglogo {
  width: 100%;
}
.bg_laye_img {
  left: -23%;
  bottom: -16%;
  width: 50%;
  z-index: 1;
}
.bg_laye_img2 {
  left: 72%;
  bottom: -55%;
  width: 50%;
  z-index: 1;
}
.parantbg_layer {
  z-index: 12 !important;
  position: relative;
}
@media (max-width: 576px) {
  ::placeholder {
    font-family: "gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: white;
  }
  .btn_get {
    padding: 12px 18px 12px 18px !important;
    font-size: 12px;
  }
  .btn_video {
    padding: 10px 18px 10px 18px !important;
  }
  :root {
    --fs-xsm: 12px;
    --fs-sm: 14px;
    --fs-md: 18px;
    --fs-2xl: 20px;
    --fs-3xl: 35px;
    --fs-3xxl: 32px;
    --fs-4xl: 27px;
    --fs-4xxl: 36px;
    --fs-7xl: 32px;
  }
  .bg_laye_img {
    left: -6%;
    bottom: 80%;
    width: 50%;
    z-index: 1;
  }
  .bg_laye_img2 {
    left: 71%;
    bottom: -6%;
    width: 50%;
    z-index: 1;
  }
}
@media (min-width: 576px) {
  .Yahoo_news {
    width: 75%;
  }
  .FinensYahoo {
    width: 75%;
  }
  .Trandinglogo {
    width: 75%;
  }
  .bg_laye_img {
    left: -6%;
    bottom: 74%;
    width: 50%;
    z-index: 1;
  }
  .bg_laye_img2 {
    left: 71%;
    bottom: -14%;
    width: 50%;
    z-index: 1;
  }
  .btn_video {
    margin-top: -2px;
  }
  :root {
    --fs-xsm: 14px;
    --fs-sm: 14px;
    --fs-md: 18px;
    --fs-2xl: 21px;
    --fs-3xl: 35px;
    --fs-3xxl: 36px;
    --fs-4xl: 32px;
    --fs-4xxl: 48px;
    --fs-7xl: 40px;
  }
}
@media (min-width: 768px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-2xl: 22px;
    --fs-3xl: 35px;
    --fs-3xxl: 36px;
    --fs-4xl: 35px;
    --fs-4xxl: 48px;
    --fs-7xl: 48px;
  }
}
@media (min-width: 992px) {
  .bg_laye_img {
    left: -14%;
    bottom: 44%;
    width: 50%;
    z-index: 1;
  }
  .bg_laye_img2 {
    left: 70%;
    bottom: -14%;
    width: 50%;
    z-index: 1;
  }
  .Yahoo_news {
    width: 150px;
    height: 25px;
  }
  .FinensYahoo {
    width: 150px;
    height: 57px;
  }
  .Trandinglogo {
    width: 150px;
    height: 30px;
  }

  :root {
    --fs-xsm: 14px;
    --fs-sm: 14px;
    --fs-md: 18px;
    --fs-2xl: 21px;
    --fs-3xl: 35px;
    --fs-3xxl: 36px;
    --fs-4xl: 38px;
    --fs-4xxl: 48px;
    --fs-7xl: 31px;
  }
}
@media (min-width: 1200px) {
  .bg_laye_img {
    left: -18%;
    bottom: -23%;
    width: 50%;
    z-index: 1;
  }
  .bg_laye_img2 {
    left: 74%;
    bottom: -70%;
    width: 50%;
    z-index: 1;
  }
  .w_xl_75 {
    width: 75%;
  }
  :root {
    --fs-xsm: 14px;
    --fs-sm: 13px;
    --fs-md: 13px;
    --fs-2xl: 24px;
    --fs-3xl: 26px;
    --fs-3xxl: 36px;
    --fs-4xl: 40px;
    --fs-4xxl: 48px;
    --fs-7xl: 48px;
  }
  .btn_video {
    margin-top: -2px;
  }
  .btn_nav {
    padding: 8px 10px 8px 10px !important;
  }
  .min_vh_xl_70 {
    min-height: 70vh;
  }
  .image_header {
    width: 567px;
    height: 367px;
  }
}
@media (min-width: 1400px) {
  .Yahoo_news {
    width: 171px;
    height: 27px;
  }
  .FinensYahoo {
    width: 171px;
    height: 63px;
  }
  .Trandinglogo {
    width: 171px;
    height: 39px;
  }
  .btn_nav {
    padding: 10px 24px 10px 24px !important;
  }
  .image_header {
    width: 624px;
    height: 400px;
  }
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 16px;
    --fs-2xl: 24px;
    --fs-3xl: 35px;
    --fs-3xxl: 36px;
    --fs-4xl: 40px;
    --fs-4xxl: 48px;
    --fs-7xl: 60px;
  }
}

@media (min-width: 1600px) {
  .btn_video {
    margin-top: -7px;
  }
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-2xl: 24px;
    --fs-3xl: 35px;
    --fs-3xxl: 36px;
    --fs-4xl: 40px;
    --fs-4xxl: 48px;
    --fs-7xl: 60px;
  }
  .image_header {
    width: 700px;
    height: 450px;
  }
}
@media (min-width: 1700px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-md: 18px;
    --fs-2xl: 24px;
    --fs-3xl: 35px;
    --fs-3xxl: 36px;
    --fs-4xl: 40px;
    --fs-4xxl: 48px;
    --fs-7xl: 72px;
  }
  .image_header {
    width: 761px;
    height: 500px;
  }
}
